<div class="global">
    <div class="global__heading">
      <h6>Global Settings</h6>
    </div>
    <section *ngIf="global__form">
        <div class="row">
            <div class= "col-lg-12">
                <form [formGroup]="global__form" (ngSubmit)="onSubmit()" novalidate>
                    <div class="global__main">
                        <div class="row">
                            <div>Repeat On</div>
                            <ul>
                                <li class="global__days" *ngFor="let week1 of weekdays | ObjectIterable;let i='index'"> 
                                    <a  (click)="listClick($event, week1.key,i)">{{week1.val}}</a>
                                </li>
                            </ul>     
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <label>During</label>
                            </div>
                            <div class="col-lg-3">
                                <select formControlName="duringTime">
                                    <option  *ngFor="let duringTime of fromTime"  [value]="duringTime">{{duringTime}}</option>
                                </select>  
                            </div>
                            <div class="col-lg-1">
                                <label>to</label>    
                            </div>
                            <div class="col-lg-3">
                                <select formControlName="toSelectTime">
                                    <option *ngFor="let toSelectTime of toTime" [value]="toSelectTime">{{toSelectTime}}</option>
                                </select> 
                            </div>
                            <div class="col-lg-3">
                               <button type="submit" class="btn global__submit">Apply</button>
                            </div>
                        </div>
                    </div>    
                </form>
            </div>
        </div>
</section> 
</div>
