@import '../../scss/_variables.scss';
@import '../../scss/_mixins.scss';

.global-settings {
    .heading-set {
        padding: $padding-val 0;
    }
    .form-settings {
        border: 1px solid $lightgr-color;
        padding: 2em;
        border-radius: 1em;
        max-width: 50em;
        @include globalstyle();
    }    
}

.active-apply {
    background-color: $blue-color !important;
    color: $white-color !important;
}

.submit-button {
    position: relative;
    right: -10em;
    width: 7em;
    color: $blue-color;
    border: 1px solid $blue-color;
}


