@import '../../scss/_variables.scss';
@import '../../scss/_mixins.scss';

.global-settings {
    .heading-set {
        padding: $padding-val 0;
    }
    .form-settings {
        border: 1px solid $lightgr-color;
        padding: 2em;
        border-radius: 1em;
        width: 60%;
        @include globalstyle();
    }    
}

.active-apply {
    background-color: $blue-color !important;
    color: $white-color !important;
}

.submit-button {
    position: relative;
    right: -10em;
    width: 7em;
    color: $blue-color;
    border: 1px solid $blue-color;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .form-settings {
        width: 100% !important;
        padding: 2em 1em 2em 1em !important;
        .title-text {
            padding-left: 3.5em !important;
            font-size: 1.5em;
        }
        ul {
            padding-left: 0 !important;
            position: static !important;
            margin: 0.5em 0 3em 0 !important;
                .days-style {  
                @include positionset(inline,static,0);
            }
        }
        .during-time {
            margin: 0 0.3em 0em 0em!important
        }
        .submit-button {
            right: -4em !important;
            top: 1em;
            left: 5em;            
        }
    }
}
  

