<div class="accordion-list">
    <div class="acc-heading">Notification</div>
    <section *ngIf="accordionForm">
        <form [formGroup]="accordionForm" (ngSubmit)="onSubmit()" novalidate>  
            <div formArrayName="notificationData">
                <ngb-accordion (panelChange)="toggleAccordian($event,$event,i)" [closeOthers]="true"  *ngFor="let d of accordionForm.controls.notificationData.controls; let i=index" formGroupName="{{i}}">                    
                    <ngb-panel id="acc-{{i}}">
                        <ng-template ngbPanelTitle>     
                                <input disabled class="title-accordion" formControlName="titleAccordion"/>
                                <div class="align-icon">
                                    <p class="acc-save{{i}} accSaveHide" (click)="saveAccordionData($event,i)"></p>
                                    <p class="acc-close{{i}} accCloseHide"></p>               
                                </div>          
                        </ng-template>
                        <ng-template ngbPanelContent>    
                            <div>{{d.value.weekday}}</div>                         
                            <div class="form-settings ">
                                <div class="pull-left">                                      
                                    <div class="row"> 
                                        <span class="title-text">Repeat On</span>
                                        <ul>
                                            <li FormArrayName="weekday" class="days-style" *ngFor="let week1 of weekdays | ObjectIterable;let j='index'"> 
                                                <a class="week-{{j}}-{{i}}" [ngClass]="applyActiveClass(week1.key,d.value.weekday,j,i) ? 'active-apply' : ''" (click)="listClick($event, week1.key,j)">{{week1.val}}</a>
                                            </li>
                                        </ul>     
                                    </div>
                                    <div class="row"> 
                                        <label>During</label>
                                        <select formControlName="duringTime" class="during-time"> 
                                            <option *ngFor="let duringTime of fromTime" [value]="duringTime">{{duringTime}}</option>
                                        </select>     
                                        <label>to</label>    
                                        <select formControlName="toSelectTime"  class="to-time">
                                            <option *ngFor="let toSelectTime of toTime" [value]="toSelectTime">{{toSelectTime}}</option>
                                        </select> 
                                    </div>
                                    <div class="reset-button">
                                        <button type="button" class="btn btn-link" (click)="restToGlobalSettings(i)">Reset to Global Settings</button>
                                    </div>
                                </div>
                         
                                <div class="pull-right">
                                    <div class="row"> 
                                        Elapse Time Rounds
                                        <ul>
                                            <li class="days-style" *ngFor="let round of elapseTimeRounds">
                                                <a>{{round}}</a>
                                                <span class="child-arrow"></span>
                                            </li>
                                        </ul> 
                                      
                                    </div>
                                    <div class="row">
                                        Day(s)  
                                            <div class="day-frequency">  
                                                <div FormArrayName="daysFrequency" *ngFor="let freq of d.value.daysFrequency;let index=index">
                                                    <input  class="input-field" type="text" value="{{freq}}" (change)="freqChange($event,index,i)"/>                                        
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </ngb-panel> 
                </ngb-accordion>
            </div>
        </form>
    </section>
</div>
