<div class="notification">
    <div class="notification__heading">Notification</div>
    <section *ngIf="notification__form">
        <form [formGroup]="notification__form" (ngSubmit)="onSubmit()" novalidate>  
            <div formArrayName="notificationData">
                <ngb-accordion [closeOthers]="true" (panelChange)="toggleAccordian($event)">                    
                    <ngb-panel id="acc-{{i}}"  *ngFor="let d of notification__form.controls.notificationData.controls; let i=index" formGroupName="{{i}}">
                        <ng-template ngbPanelTitle>     
                                <input class="notification__title" formControlName="titleAccordion"/>
                                <div class="notification__icon">
                                    <p class="acc-save{{i}} accSaveHide" (click)="saveAccordionData($event,i)"></p>
                                    <p class="acc-pencil{{i}}" (click)="$event.stopPropagation();$event.preventDefault();enableAcciordionForm($event,i)"></p>
                                    <p class="acc-close{{i}} accCloseHide"></p>               
                                </div>          
                        </ng-template>
                        <ng-template ngbPanelContent>                        
                            <div class="notification__main">    
                                <div class="row">       
                                    <div class="col-lg-6">    
                                        <div class="row">
                                            <div>Repeat On</div>
                                            <ul>
                                                <li FormArrayName="weekday" class="global__days" *ngFor="let week1 of weekdays | ObjectIterable;let j='index'"> 
                                                    <a class="week-{{j}}-{{i}}" [ngClass]="d.value.activeClass[j] ? trackStatus ? 'global--active':'active-apply-gray' : ''" (click)="trackStatus ? listClick($event, week1.key,j,i) : $event.preventDefault();">{{week1.val}}</a>
                                                </li>
                                            </ul>    
                                       </div>
                                   </div> 
                                   <div class="col-lg-6">  
                                        <div class="row"> 
                                            <div>Elapse Time Rounds</div>
                                            <ul>
                                                <li class="global__days" *ngFor="let round of elapseTimeRounds">
                                                    <a>{{round}}</a>
                                                    <span class="global__days--arrow"></span>
                                                </li>
                                            </ul> 
                                        </div>
                                    </div>  
                               </div>        
                                <div class="row">      
                                    <div class="col-lg-6">      
                                        <div class="row">    
                                                <div class="col-lg-2">
                                                    <label>During</label>
                                                </div> 
                                                <div class="col-lg-2">
                                                    <select formControlName="duringTime"> 
                                                        <option *ngFor="let duringTime of fromTime" [value]="duringTime">{{duringTime}}</option>
                                                    </select>    
                                                </div>
                                                <div class="col-lg-1">
                                                    <label>to</label>    
                                                </div>
                                                <div class="col-lg-1">
                                                    <select formControlName="toSelectTime">
                                                        <option *ngFor="let toSelectTime of toTime" [value]="toSelectTime">{{toSelectTime}}</option>
                                                    </select>  
                                                </div>  
                                        </div>                                        
                                    </div>
                                    <div class="col-lg-6">  
                                        <div class="row">
                                            <div>Day(s)</div>
                                            <div class="global__daysfreq">  
                                                <div FormArrayName="daysFrequency" *ngFor="let freq of d.value.daysFrequency;let index=index">
                                                    <input class="input-field-{{index}} input-field" readonly type="text" value="{{freq}}" [ngClass]="trackStatus ? 'input-enable':'input-disable'" (change)="freqChange($event,index,i)"/>                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    
                                <div class="notification__button">
                                    <button type="button" class="btn btn-link" [ngClass]="trackStatus ? 'display-block': 'display-none'" (click)="restToGlobalSettings(i)">Reset to Global Settings</button>
                                </div>       
                            </div>
                        </ng-template>
                    </ngb-panel> 
                </ngb-accordion>
            </div>
        </form>
    </section>
</div>
