@import "../globalsettings/globalsettings.component.scss";
@import '../../scss/_variables.scss';

.notification {
    margin-top: -1em;  
    .notification__heading {
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 1.5em 1em;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 0;
        color: black;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .notification__title {
        width:50%;
        border: 0;
        padding: 0.5em;
    } 
    .notification__main {
        padding: $padding-val;
        border: none;
        @include globalstyle();
     
            ul {
                .global__days{       
                    .global__days--arrow {
                        border-bottom: 3px dotted blue;
                        padding-left: 2em;
                        position: relative;
                        top: -1em;
                    }
                    &:last-child {
                        .global__days--arrow {
                            padding-left: 0em;
                        }
                    }  
                } 
            }     
            .global__daysfreq {
                display: flex;
                div {
                    width:6em;
                    margin-left: -2em;
                    &:first-child {
                        margin-left: 9em;
                    }
                }
                .input-field {
                    width: 40%;
                    padding-left: 1em;
                }
            }       
            .during-time {
                margin: 0 2em 0 4em;
            }
            .to-time {
                margin: 0 8em 0 1em;
            }

    }
    
 }

.notification__button {
    position: relative;
    top: 1.2em;
    left: 13em;
}

.active-apply-gray {
    background-color: darkgray !important;
    color: $white-color !important;
}

.accSaveShow {
   display: block;
   margin-right: 2em;
   &::after {
    content: "\2714";
   }
}

.accPencilShow {
    display: block;
    margin-right: 2em;
    &::after {
     content: "\270E";
    }
}

.accCloseShow {
    display: block;
    &::after {
     content: "\2716";
    }
}

.notification__icon {
    float: right;
    display: flex;
}

.accSaveHide,.accCloseHide,.accPencilHide {
  display: none;
} 

.active-disable {
    background: lightgray !important;
    color: black !important;
}

.display-none {
    display:none;
}

.display-block {
    display: block;
}

.input-disable {
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    &:focus {
      border:none;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
    }
}
