@mixin positionset($display,$position,$top) {
    display  : $display;
    position : $position;
    top      : $top;
}

@mixin setwidthheight($width,$height) {
    width  : $width;
    height : $height;
}

@mixin globalstyle() {
    ul {
        padding-left: 7em;
        margin-bottom: 0;
        position: relative;
        top: -2em;

        .days-style {  
            @include positionset(inline,relative,0.5em);
            a {
                @include setwidthheight(36px,33px);
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;
                background: $lightgr-color;
                cursor: pointer
            }
        }
    }
    .during-time {
        margin: 0 2em 0 4em;
        border-radius: 0.3em;
        height: 2em;
        padding: 0 0 0 0.5em;
    }
    .to-time {
        margin-left: 1em;
        border-radius: 0.3em;
        height: 2em;
        padding: 0 0 0 0.5em;
    }
}