@mixin positionset($display,$position,$top) {
    display  : $display;
    position : $position;
    top      : $top;
}

@mixin setwidthheight($width,$height) {
    width  : $width;
    height : $height;
}

@mixin globalstyle() {
    ul {
        .global__days {  
            display:inline;
            a {
                @include setwidthheight(36px,33px);
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                border-radius: 50%;
                background: $lightgr-color;
                cursor: pointer
            }
        }
    }
}

